# Python cache & environment artifacts
__pycache__/
*.pyc
*.pyo
*.pyd

# Data (주의: 인라인 주석 금지)
backup/*
data/*
!data/sample

# YOLO-Crop
src/yolo_cropper/models/darknet
src/yolo_cropper/models/yolov8

# Logs / temporary outputs
logs/
*.log
runs/
wandb/

# Jupyter notebooks
*.ipynb

# Tests
tests/

# OS system files
.DS_Store

# Git & version control
.git/
.gitignore

# IDE / Editor workspace
.vscode/
.idea/

# Build artifacts
dist/
build/

# Packages metadata
*.egg-info/
src.egg-info/

# assets
assets/*

# Ignore ALL saved_model contents
saved_model/*

# Also allow README files
!saved_model/README*
!saved_model/yolo_cropper/README*